#pragma code_page(65001)
#include "version.h"

#define VER_FILE_DESCRIPTION_STR "FlashSwirl 加密库"
#define VER_ORIGINAL_FILENAME_STR "FlashSwirl.dll"
#define VER_INTERNAL_NAME_STR "FlashSwirlDLL"

1 VERSIONINFO
FILEVERSION VER_FILEVERSION
PRODUCTVERSION VER_PRODUCTVERSION
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x2L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", VER_COMPANY_NAME "\0"
            VALUE "FileDescription", VER_FILE_DESCRIPTION_STR "\0"
            VALUE "FileVersion", VER_FILEVERSION_STR "\0"
            VALUE "InternalName", VER_INTERNAL_NAME_STR "\0"
            VALUE "LegalCopyright", VER_LEGAL_COPYRIGHT "\0"
            VALUE "OriginalFilename", VER_ORIGINAL_FILENAME_STR "\0"
            VALUE "ProductName", VER_PRODUCT_NAME "\0"
            VALUE "ProductVersion", VER_PRODUCTVERSION_STR "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
